.site-author-image {
  border-radius: 50%;
  transition: all 1s;
}
.site-author-image:hover {
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
/* IE 9 */
  -moz-transform: rotateY(180deg);
/* Firefox */
  -webkit-transform: rotateY(180deg);
/* Safari 和 Chrome */
  -o-transform: rotateY(180deg);
/* Opera */
  transition: all 1s;
}
